.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

.nav-link {
    display: block;
    padding: 0.25rem .5rem;
  }

.nav-link:hover {
    text-decoration: none;
  }

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    
  }

.nav-tabs .nav-item {
    margin-bottom: -1px;
    
  }

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: hsl(203, 22%, 84%);
    margin-right: 1px;
  }
  
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
  }

